#registerParent {
  padding-bottom: 20px;
}

#textuser {
  margin: 5px;
}
#textpass {
  margin: 5px;
}
#textpassconf {
  margin: 5px;
}

#email{
  margin: 5px;
}

#link {
  margin-left: 0px !important;
}

.bottomdiv {
  margin-top: 20px;
  margin-bottom: 20px;
}
